<h2 class="text-center my-2 text-primary">Lista do Firebase</h2>
<hr />

<div>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input
      id="nome"
      class="form-control"
      type="text"
      [(ngModel)]="nome"
      name="nome"
    />
  </div>
  <div class="form-group">
    <label for="idade">Idade</label>
    <input
      id="idade"
      class="form-control"
      type="number"
      [(ngModel)]="idade"
      name="idade"
    />
  </div>
  <div class="col-md-6 mx-auto my-2">
    <button class="btn btn-outline-info btn-block" (click)="addItem()">
      Adicionar
    </button>
  </div>
</div>
<hr />
<div class="col-md-10 mx-auto">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>E-mail</th>
        <th>Comando</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list | async">
        <td [title]="['chave: ' + item.key]">{{ item.nome }}</td>
        <td>{{ item.idade }}</td>
        <td>{{ item.email }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteItem(item.key)">
            Remover
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
