<h2 class="text-center my-2 text-primary">Início</h2>

<p class="my-2 bg-light py-5 px-5">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Tempus urna et pharetra pharetra
  massa. Nunc mi ipsum faucibus vitae. Eu tincidunt tortor aliquam nulla. Donec
  ac odio tempor orci dapibus. Odio ut sem nulla pharetra. Malesuada fames ac
  turpis egestas integer. Lectus proin nibh nisl condimentum id venenatis a.
  Blandit cursus risus at ultrices mi tempus imperdiet. Dui sapien eget mi proin
  sed libero enim sed.
</p>
